<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pods Metadata</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <h1>Pods Information</h1>
    <tr text-align="left">
        <th class="centered">NAME</th>
        <th class="centered">NAMESPACE</th>
        <th class="centered">PHASE</th>
        <th class="centered">POD IP</th>
        <th class="centered">HOST IP</th>
        <th class="centered">START TIME</th>
    </tr>
    </thead>
    <tbody>

    <%= for (pod) in pods.Items { %>
    <tr>
        <td class="centered">
            <%= pod.Name %>
        </td>
        <td class="centered">
            <%= pod.Namespace %>
        </td>
        <td class="centered">
            <%= pod.Status.Phase %>
        </td>
        <td class="centered">
            <%= pod.Status.PodIP %>
        </td>
        <td class="centered">
            <%= pod.Status.HostIP %>
        </td>
        <td class="centered">
            <%= pod.Status.StartTime %>
        </td>
    </tr>
    <% } %>

    </tbody>
</table>
</body>
</html>